<head>
<meta charset="UTF-8">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="author" content="{{ site.author }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }} | {% endif %}{{ site.title }}</title>
  {# Inline Bootstrap and main CSS #}
  <style>
    {% inlineCSS "src/assets/libs/bootstrap/bootstrap.min.css" %}
    {% inlineCSS "src/assets/css/main.css" %}
  </style>
<!-- Favicon and Apple Touch Icons -->
  <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon.png">
  <link rel="shortcut icon" href="/img/favicon.ico">
</head>